<!doctype html>
<html {{ site.language_attributes }}>

  <head>
    <meta charset="{{ site.charset|e('html_attr') }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{{ site.description|e('html_attr') }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ wp_title }}</title>

    <link rel="stylesheet" media="all" href="{{ site.theme.link }}/style.css" />

    {{ function('wp_head') }}
    {% block extrahead %}
    {% endblock %}
  </head>

  <body class="{{ body_class|e('html_attr') }}">
    {% block header %}
      Header
    {% endblock %}
      
    {% block body %}
      <div class="bd">
        Sorry, no content.
      </div>
    {% endblock %}
    
    {% block footer %}
      Footer
    {% endblock %}
    
    <div id="wpfooter">
    {{wp_footer}}
    </div>

    {% block scripts %}
    {% endblock %}
    
  </body>
</html>
