<!doctype html>
<html {{ site.language_attributes }}>

  <head>
    <meta charset="{{ site.charset|e('html_attr') }}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="description" content="{{site.description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{post.title}} - {{site.title}}</title>
    <meta name="keywords" content="interaksjonsdesign, grafisk design, design, nettbutikk, intranett, oslo, norge, responsiv, innholdsrådgiving, digital rådgiver, brukertesting, konseptutvikling" />
    <meta name="robots" content="index, follow" />
    <link rel="stylesheet" media="all" href="{{ site.theme.link }}/style.css" />

    {{ function('wp_head') }}
    {% block extrahead %}
    {% endblock %}
  </head>

  <body class="{{ body_class|e('html_attr') }}">

    <h1 class="sr-only">{{site.title}}: {{post.title}}</h1>

    {% block header %}
      Header
    {% endblock %}
      
    {% block body %}
      <div class="bd">
        Sorry, no content.
      </div>
    {% endblock %}
    
    {% block footer %}
      Footer
    {% endblock %}
    
    <div id="wpfooter">
    {{wp_footer}}
    </div>

    {% block scripts %}
    {% endblock %}

    <script type="text/javascript">
/*<![CDATA[*/
(function() {
var sz = document.createElement('script'); sz.type = 'text/javascript'; sz.async = true;
sz.src = '//siteimproveanalytics.com/js/siteanalyze_6099068.js';
var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(sz, s);
})();
/*]]>*/
</script>

    <div class="sr-only">
      <p>{{site.description}}</p>
      <p>Vi holder til i Oslo.</p>
    </div>
  </body>
</html>
