<footer id="footer" role="pagefooter" class="">
  <section class="container">
    <div>
	  <div class="no-nbeat-logo">
        <img src="{{site.theme.link}}/img/logo-gray.svg" />
	  </div>
      
	  <div class="info">
        <div class="col">
          <a href="https://www.google.no/maps/place/Arbeidersamfunnets+plass+1,+0181+Oslo/@59.9155184,10.7518051,17z/data=!3m1!4b1!4m2!3m1!1s0x46416e63d9f8b72d:0x9c23e78f5e43731">
	        <div class="footericon">
              <img src="{{site.theme.link}}/img/icons/pin.svg" />
            </div>
            <div class="text">
	          <h3>Her finner du oss</h3>
		      <p>
                Arbeidersamfunnets plass 1
              </p>
            </div>
          </a>
	    </div>
        
	    <div class="col">
          <a href="mailto:post@northernbeat.no">
	        <div class="footericon">
              <img src="{{site.theme.link}}/img/icons/paperplane.svg" />
            </div>
            <div class="text">
	          <h3>Send oss en mail</h3>
		      <p>
                post@northernbeat.no
              </p>
	        </div>
          </a>
        </div>

	    <div class="col social">
          <a href="https://www.facebook.com/northernbeat.no"><img src="{{site.theme.link}}/img/icons/facebook.svg" /></a>
          <a href="https://twitter.com/northernbeat_no"><img src="{{site.theme.link}}/img/icons/twitter.svg" /></a>
          <a href="https://www.linkedin.com/company/northern-beat"><img src="{{site.theme.link}}/img/icons/linkedin.svg" /></a>
        </div>
      </div>
      
    </div>
  </section>
</footer>
