<header id="header" class="{{header.classes}}">
  {% include "layout/mainmenu.twig" %}

  <section class="container">
	<div class="no-nbeat-menubar">
	  <a id="toplogo" href="/" class="no-nbeat-logo {{header.logo}}">
        <img id="svglogo" src="{{site.theme.link}}/img/{{header.logo|default("logo")}}.svg" />
        <canvas id="no-nbeat-logo-canvas"></canvas>
      </a>
	  <button class="no-nbeat-hamburger" data-toggle="header">
		<span></span>
	  </button>
	</div>

    {{header.slogan}}
  </section>
</header>
