<section class="content-next" style="background-image: url({{next.getCoverImage()}})">
  <a href="{{next.link}}">
    <div class="{{next.getThumbCssClasses()}}" {{next.getColorAttrs()}}>
      <div class="container">
        <div>
          <div class="left">
            Neste case
            <div class="arrow">&darr;</div>
          </div>
          
          <div class="right">
            <h2 class="title">{{next.getThumbTitle()}}</h2>
            <p class="customer">{{next.getCustomers()}}</p>
          </div>
        </div>
      </div>
    </div>
  </a>
</section>
