<li class="list-item">
  <a href="{{post.link}}">
    <img src="{{post.getIcon()|default("/wp-content/themes/NorthernBeat3/img/service.svg")}}" alt="{{post.getName()}}" />
    <h2 class="title">{{post.getName()}}</h2>
    <div class="text">{{post.getDescription()}}</div>
  </a>
</li>
