<li class="list-item">
  <img src="{{site.theme.link}}/img/content/{{post.custom.image}}.jpg" />
  <span class="content no-nbeat-bg-{{post.custom.color}} no-nbeat-bg-tint">
    <h1 class="title">{{post.title}}</h1>
    <div class="byline">{{post.custom.customer}}</div>
    <div class="Text">{{post.custom.ingress}}</div>
  </span>
</li>
