<li class="list-item">
  <a href="{{post.link}}">
    <img src="{{post.getThumbImage()|default("/wp-content/themes/NorthernBeat3/img/case.svg")}}" alt="Bakgrunnsbilde" />
    <span class="content {{post.getThumbCssClasses()}}" {{post.getColorAttrs()}}>
      <h1 class="title">{{post.getThumbTitle()}}</h1>
      <div class="byline">{{post.getCustomers()}}</div>
      <div class="text">{{post.getThumbIngress()}}</div>
    </span>
  </a>
</li>
