<li class="list-item">
  <a href="{{post.link}}">
    <img src="{{TimberImage(post.get_field('photo')).src}}" />
    <span class="content no-nbeat-bg-{{post.custom.color}} no-nbeat-bg-tint">
      <h1 class="title">{{post.title}}</h1>
      <div class="byline">{{post.custom.customer}}</div>
      <div class="Text">{{post.custom.ingress}}</div>
    </span>
  </a>
</li>
