<li id="modal-{{post.getSlug()}}" class="list-item employee">
  <div class="photo">
    <a href="/menneskene/{{post.getSlug()}}"
       data-toggle="modal"
       data-target="#empModal"
       data-slug="{{post.getSlug()}}"
       >
      <img src="{{post.getPhoto()|default("/wp-content/themes/NorthernBeat3/img/person.svg")}}" alt="{{post.getFirstname()}} {{post.getLastname()}}" />
    </a>
  </div>
    
    <div class="details">
      <a href="/menneskene/{{post.getSlug()}}"
         data-toggle="modal"
         data-target="#empModal"
         data-slug="{{post.getSlug()}}"
         >
        <h3 class="name">{{post.getFirstname()}} <br />{{post.getLastname()}}</h3>
      </a>
      <div class="role">{{post.getTitle()}}</div>
      <div class="email"><a href="mailto:{{post.getEmail()}}">{{post.getEmail()}}</a></div>
      <div class="phone">{{post.getPhone()}}</div>
      <div class="text">{{post.getDescription()}}</div>
    </div>
  
</li>
