{% extends "layout/default.twig" %}

{% block content %}
  <article>
    <section class="content-section">
      <div class="container">
        <div class="row">
          <div class="col-xs-12 col-lg-10 offset-lg-1">

            <div class="employee employee-single">
              <div class="photo">
                <img src="{{post.getPhoto()}}" alt="{{post.getFirstName()}} {{post.getLastname()}}" />
              </div>
              <div class="details">
                <h2 class="name"><a href="{{post.link}}">{{post.getFirstname()}}<br />{{post.getLastname()}}</a></h2>
                <div class="role">{{post.getTitle()}}</div>
                <div class="email"><a href="mailto:{{post.getEmail()}}">{{post.getEmail()}}</a></div>
                <div class="phone">{{post.getPhone()}}</div>
              </div>

              <div class="text">
                {{post.getDescription()}}
              </div>

            </div>

          </div>
        </div>
      </div>
    </section>
  </article>
{% endblock %}
